<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
	</head>

	<body>
		<div class="title">
			<h1>What the Fuck Should I Watch Right Now?</h1>
			</br></br></br>
			</h2>Bitch, I don't fucking know....I ain't developed this shit yet!</h2>
		</div>
	</body>
</html>